{% extends 'base.html' %}

{% block title %}Result{% endblock %}

{% block content %}
<h2>Полученные значения:</h2>
<p>Порядок группоида: {{ size }}</p>

<h3>Таблицы:</h3>
<style>
    table {
        border-collapse: collapse; /* Убирает двойные границы */
        width: 50%; /* Устанавливает ширину таблицы */
        margin: 20px auto; /* Центрирует таблицу */
    }
    th, td {
        border: 1px solid #ddd; /* Граница ячеек */
        padding: 8px; /* Отступы внутри ячеек */
        text-align: center; /* Выравнивание текста по центру */
    }
    th {
        background-color: #f2f2f2; /* Цвет фона заголовков */
    }
</style>

{% for table, report in data %}
<table>
    <thead>
        <tr>
            <th>&times;</th>
            {% for j in table.0 %}
                <th>{{ forloop.counter0 }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for i in table %}
            <tr>
                <th>{{ forloop.counter0 }}</th>
                {% for value in i %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Выводим отчет для текущей таблицы -->
<p>Ассоциативность: {{ report.associate }}</p>
<p>Нейтральный элемент: {{ report.neutral }}</p>

{% endfor %}
<a href="{% url 'input_view' %}">Назад</a>
{% endblock %}
